USE [master]
GO
/****** Object:  Database [Transport]    Script Date: 7/11/2023 6:35:08 PM ******/
CREATE DATABASE [Transport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Transport', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Transport.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Transport_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Transport_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Transport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Transport]
GO
USE [Transport]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 7/11/2023 6:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[carNumber] [varchar](10) NOT NULL,
	[carModel] [varchar](20) NULL,
	[AvailabilityStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[carNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 7/11/2023 6:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[driverId] [int] NOT NULL,
	[driverName] [varchar](20) NULL,
	[carNumber] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[driverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Car] ([carNumber], [carModel], [AvailabilityStatus]) VALUES (N'0892', N'i20', 1)
INSERT [dbo].[Car] ([carNumber], [carModel], [AvailabilityStatus]) VALUES (N'3000', N'Innova', 1)
INSERT [dbo].[Car] ([carNumber], [carModel], [AvailabilityStatus]) VALUES (N'5001', N'Baleno', 0)
INSERT [dbo].[Driver] ([driverId], [driverName], [carNumber]) VALUES (500, N'Mahesh', N'8889')
INSERT [dbo].[Driver] ([driverId], [driverName], [carNumber]) VALUES (501, N'Suresh', N'8765')
INSERT [dbo].[Driver] ([driverId], [driverName], [carNumber]) VALUES (502, N'Naresh', N'6655')
ALTER TABLE [dbo].[Car] ADD  DEFAULT ((1)) FOR [AvailabilityStatus]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD FOREIGN KEY([carNumber])
REFERENCES [dbo].[Car] ([carNumber])
GO
USE [master]
GO
