USE [master]
GO
/****** Object:  Database [Transport]    Script Date: 7/14/2023 10:44:17 AM ******/
CREATE DATABASE [Transport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Transport', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Transport.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Transport_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Transport_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Transport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Transport]
GO
USE [Transport]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 7/14/2023 10:44:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[bookingId] [int] IDENTITY(1,1) NOT NULL,
	[carNumber] [varchar](10) NULL,
	[email] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 7/14/2023 10:44:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[carNumber] [varchar](10) NOT NULL,
	[carModel] [varchar](20) NULL,
	[AvailabilityStatus] [bit] NOT NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[carNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 7/14/2023 10:44:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[driverId] [int] NOT NULL,
	[driverName] [varchar](20) NULL,
	[carNumber] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[driverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ((1)) FOR [AvailabilityStatus]
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([carNumber])
REFERENCES [dbo].[Car] ([carNumber])
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD FOREIGN KEY([carNumber])
REFERENCES [dbo].[Car] ([carNumber])
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD FOREIGN KEY([carNumber])
REFERENCES [dbo].[Car] ([carNumber])
GO
USE [master]
GO
