USE [master]
GO
/****** Object:  Database [User]    Script Date: 7/11/2023 6:03:14 PM ******/
CREATE DATABASE [User]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'User', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\User.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'User_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\User_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [User].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [User]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/11/2023 6:03:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Name] [varchar](20) NULL,
	[Email] [varchar](20) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([Name], [Email], [Password]) VALUES (N'string', N'string', N'string')
INSERT [dbo].[Users] ([Name], [Email], [Password]) VALUES (N'A', N'test@gmail.com', N'test@123')
GO
USE [master]
GO
